examples/teams-adaptive-card/flow-definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "$authentication": {
      "defaultValue": {},
      "type": "SecureObject"
    }
  },
  "triggers": {
    "When_an_item_is_created": {
      "type": "OpenApiConnectionNotification",
      "inputs": {
        "host": {
          "connectionName": "shared_sharepointonline",
          "operationId": "GetOnNewItems",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
        },
        "parameters": {
          "dataset": "https://YOUR_TENANT.sharepoint.com/sites/YOUR_SITE",
          "table": "Requests"
        },
        "authentication": "@parameters('$authentication')"
      }
    }
  },
  "actions": {
    "Post_adaptive_card_and_wait": {
      "type": "OpenApiConnectionWebhook",
      "runAfter": {},
      "inputs": {
        "host": {
          "connectionName": "shared_teams",
          "operationId": "PostCardAndWaitForResponse",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
        },
        "parameters": {
          "poster": "Flow bot",
          "location": "Chat with Flow bot",
          "body/recipient/to": "APPROVER_EMAIL@YOUR_DOMAIN.com",
          "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"version\": \"1.4\",\n  \"body\": [\n    {\n      \"type\": \"TextBlock\",\n      \"text\": \"Approval Request\",\n      \"weight\": \"Bolder\",\n      \"size\": \"Medium\"\n    },\n    {\n      \"type\": \"FactSet\",\n      \"facts\": [\n        { \"title\": \"Request:\", \"value\": \"@{triggerBody()?['Title']}\" },\n        { \"title\": \"Date:\", \"value\": \"@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm')}\" }\n      ]\n    }\n  ],\n  \"actions\": [\n    { \"type\": \"Action.Submit\", \"title\": \"✅ Approve\", \"style\": \"positive\", \"data\": { \"action\": \"Approve\" } },\n    { \"type\": \"Action.Submit\", \"title\": \"❌ Reject\", \"style\": \"destructive\", \"data\": { \"action\": \"Reject\" } }\n  ],\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\"\n}",
          "body/updateMessage": "Response recorded. Thank you!",
          "body/shouldUpdateCard": true
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Condition_-_Check_Response": {
      "type": "If",
      "expression": {
        "and": [
          {
            "equals": [
              "@body('Post_adaptive_card_and_wait')?['data']?['action']",
              "Approve"
            ]
          }
        ]
      },
      "actions": {
        "Update_item_-_Approved": {
          "type": "OpenApiConnection",
          "runAfter": {},
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "PatchItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://YOUR_TENANT.sharepoint.com/sites/YOUR_SITE",
              "table": "Requests",
              "id": "@triggerBody()?['ID']",
              "item/Status/Value": "Approved"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "else": {
        "actions": {
          "Update_item_-_Rejected": {
            "type": "OpenApiConnection",
            "runAfter": {},
            "inputs": {
              "host": {
                "connectionName": "shared_sharepointonline",
                "operationId": "PatchItem",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
              },
              "parameters": {
                "dataset": "https://YOUR_TENANT.sharepoint.com/sites/YOUR_SITE",
                "table": "Requests",
                "id": "@triggerBody()?['ID']",
                "item/Status/Value": "Rejected"
              },
              "authentication": "@parameters('$authentication')"
            }
          }
        }
      },
      "runAfter": {
        "Post_adaptive_card_and_wait": ["Succeeded"]
      }
    }
  }
}
